<div class="navbar" ng-repeat="state in componentDefinition.states track by $index" ng-style="{zIndex:(state.isActivating? 1200 : 1100), '-webkit-transform': 'translate(0, '+(state.translateY)+'px)', opacity: state.opacity, '-webkit-transition': 'opacity 0.3s ease, -webkit-transform 0.3s ease'}">
  <button class="left" ng-repeat="b in state.data.leftButtons" ng-tap="handleSharedHeaderButtonClick(state, b, lastTap)">{{b.title}}</button>
        <h1 ng-show="!state.data.titleEditable">{{state.data.title}}</h1>
        <input class="h1" ng-show="state.data.titleEditable" type="text" ng-model="state.data.title" ng-change="titleChanged(state)" />
        <button class="right" ng-repeat="b in state.data.rightButtons" ng-tap="handleSharedHeaderButtonClick(state, b, lastTap)">{{b.title}}</button>

</div>