<div class="cjs-loading-overlay cjs-loading-overlay-full">
    <div ng-if="!error">
    <div class="progress large">
        <div></div>
    </div>
    <div class="title" ng-if="title">{{title}}</div>
    <div class="message">{{message || "Loading"}}</div>
    </div>
    <div ng-if="error">
    <div class="error">{{error}}</div>
    </div>
    <div class="buttons">
        <button ng-if="retry && error" ng-tap="retry()">Retry</button>
        <button ng-if="cancel" ng-tap="cancel()">Cancel</button>
    </div>
</div>
