.chondric-page.next.crossfade {
    pointer-events:none;
    display: block;
    opacity: 0;
    z-index: 11;
}
.chondric-page.active.crossfade {
        -webkit-transition: opacity 0.3s ease-in-out;
}
.chondric-page.prev.crossfade {
    pointer-events:none;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    z-index: 9;
}
