.chondric-page.next.slideleft {
    display: block;
}

.chondric-page.prev.slideleft {
    display: block;
}


.chondric-page.slideleft .page {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.chondric-page.next.slideleft .page {
    display: block;
    -webkit-transform: translate(-100%, 0);
}

.chondric-page.prev.slideleft .page {
    display: block;
    -webkit-transform: translate(100%, 0);
}
