/*! chondric-tools 0.5.0 */
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    background-color: #888;
    -webkit-tap-highlight-color:transparent;
}
.chondric-viewport {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    overflow:hidden;
    z-index: 1;
}
.chondric-section {
}
.chondric-page {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    overflow: hidden;
    display: none;
}
.chondric-page.active {
    display: block;
    opacity: 1;
    z-index: 10;
}
.chondric-page.prev {
    pointer-events:none;
}
.chondric-page.next {
    pointer-events:none;
}
.chondric-page.notransition {
    -webkit-transition: none !important;
}
.chondric-page.notransition .page {
    -webkit-transition: none !important;
}
.chondric-page.notransition .navbar {
    -webkit-transition: none !important;
}
/* Old styles */
 .page.behindfull {
    display:block;
    visibility: hidden;
    -webkit-transform: scale(1, 1);
    opacity:0;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.2s linear, opacity 0.9s ease-in-out, z-index 0.9s linear, visibility 0.9s linear;
}
.page.behinddlg {
    display: block;
    -webkit-transform: scale(1, 1);
    opacity:1;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.2s linear, opacity 0.9s ease-in-out, z-index 0.9s 0.9s linear;
}
.page.behindsmall {
    display:block;
    visibility: hidden;
    -webkit-transform: scale(0.1, 0.1);
    opacity:0;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.2s linear, opacity 0.9s ease-in-out, z-index 0.9s linear, visibility 0.9s linear;
}

.chondric-viewport {
-webkit-user-select:none;
}

input, textarea, [contenteditable=true] {
-webkit-user-select:auto;
    -webkit-touch-callout: auto;
}


.clear {
    clear: both;
}
.sidebar {
    position: absolute;
    width: 400px;
    border: none;
    background-color: black;
    color: white;
    height: 12px;
    text-align: center;
    font: 10px Helvetica;
    font-weight: bold;
}
.sidebar.up {
    top: 0px;
    margin-left: 10px;
}
.sidebar.down {
    bottom: 0px;
    margin-left: 10px;
}
.sidebar.left {
    left: 12px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
}
.sidebar.right {
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 100% 0;
}
.sidebar .arrow {
    display: block;
    position: absolute;
}
.sidebar.up .arrow {
    -webkit-transform: rotate(270deg);
    left: 5px;
}
.sidebar.down .arrow {
    -webkit-transform: rotate(90deg);
    left: 5px;
}
.sidebar.left .arrow {
    -webkit-transform: rotate(90deg);
    left: 5px;
}
.sidebar.right .arrow {
    -webkit-transform: rotate(90deg);
    right: 5px;
}
.sidebar .pageName {
}
/*
.hasupsidebar>.ui-header, .hasupsidebar>.ui-content {
    margin-top:15px;
}
.hasdownsidebar>.ui-header, .hasdownsidebar>.ui-content {
    margin-bottom:15px;
}
.hasleftsidebar>.ui-header, .hasleftsidebar>.ui-content {
    margin-left:15px;
}
.hasrightsidebar>.ui-header, .hasrightsidebar>.ui-content {
    margin-right:15px;
}

*/
 .scrollcontainer {
    overflow: auto;
}
/* Debug Mode */
 .debugonly {
    display:none !important;
}
body.debugmode .debugonly {
    display:block !important;
}
body.debugmode::after {
    content:"Debug mode - do not release";
    display:block !important;
    position:absolute;
    bottom: 0;
    left:0;
    right: 0;
    text-align: center;
    pointer-events:none;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 100;
}
/* loading overlay */
 .loadingOverlay {
    display:none;
    position:absolute;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    background-color: transparent;
    text-align: center;
    padding-top: 300px;
}
.page.loading .loadingOverlay {
    display: block;
}
.loadingOverlay::before {
    content:"Loading Page";
}
.loadingOverlay a {
    display: block;
    margin-top: 10px;
}
/* IOS 7 Default styles */
 body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.4;
}
/* buttons */
 button {
    background-color: transparent;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    line-height: 27px;
    padding: 0 10px;
    height: 29px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 10px;
}
button.fullwidth {
    display: block;
    width: 95%;
}
button.active {
    background-color: rgba(0, 122, 255, .15);
}

button.selected {
    color:white;
    background-color: #007aff;
}

button:focus {
    outline: none;
}

button.icon-only {
    width: 27px;
    overflow: hidden;
    padding: 0 5px;
}

/* Header */
 .navbar {
    position: absolute;
    top:0;
    left: 0;
    right:0;
    background-color: #f7f7f8;
    background-color: rgba(248, 248, 248, 0.9);
    height: 44px;
    z-index: 10;
    border-bottom: 1px solid #c4c4c4;
    font-size: 17px;
}

.hasstatusbar .navbar {
    padding-top:20px;
}

.navbar>.v1,.navbar>.v2 {
     position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
}

.hasstatusbar .navbar>.v1,.hasstatusbar .navbar>.v2 {
    top:20px;
}


.navbar.nobg {
    background-color: transparent;
}
.navbar button {
    color: #007aff;
    background: transparent;
    border: none;
    padding: 0 5px;
    line-height: 44px;
    height: 44px;
    margin: 0 5px;
    font-size: inherit;
}
.navbar button.active {
    background: transparent;
    opacity: 0.3;
}
.navbar button.left {
    float:left;
}
.navbar button.right {
    float:right;
}
.navbar h1 {
    position: absolute;
    bottom:0;
    left: 33%;
    right:33%;
    margin: 0;
    text-align: center;
    font-size: 17px;
    line-height: 44px;
    font-weight: 500;
    z-index: -1;
    text-overflow: ellipsis;
    white-space: nowrap;
overflow: hidden;
}

.navbar input.h1 {
position: absolute;
top: 0;
left: 33%;
right: 33%;
margin: 0;
text-align: center;
font-size: 17px;
line-height: 44px;
font-weight: 500;
z-index: -1;
text-overflow: ellipsis;
width: 34%;
padding: 0;
border: none;
outline: none;
-webkit-appearance: none;
background-color: transparent;
}



/* Menu bar */

/* A bar with text buttons like the nav bar but that can appear anywhere */
 .menubar button {
    display: inline-block;
    color: #007aff;
    background: transparent;
    border: none;
    padding: 0 10px;
    line-height: 44px;
    height: 44px;
    margin: 0;
    font-size: inherit;
}
.menubar button.active {
    background: transparent;
    opacity: 0.3;
}
/* tabbar */
 .tabbar {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    z-index: 10;
    background-color: #f7f7f8;
    background-color: rgba(248, 248, 248, 0.9);
    border-top: 1px solid #c4c4c4;
    padding-top: 10px;
}
.tabbar button {
    background: transparent;
    border: none;
    color: rgb(111, 111, 116);
    height: auto;
    display: inline-block;
    padding: 0 15px;
    margin: 0;
}
.tabbar button.active, .tabbar button.selected {
    color: rgb(21, 125, 251);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
/* vertical tab bar */
 .tabbar.left {
    top: 40px;
    left:0;
    right:auto;
    bottom:0;
    width:80px;
    border-top: none;
    border-right: 1px solid #c4c4c4;
}
.hasstatusbar .tabbar.left {
    top:60px;
}
.tabbar.left button {
    margin: 10px auto;
}
/* Content sections */
 .page {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
}
.body {
    background-color:#efeff4;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
}

.hasstatusbar .body {
    padding-top:20px;
}

.uses-cjs-navigation-bar .body,
.navbar ~ .body
 {
    padding-top:60px;
 }

.hasstatusbar .uses-cjs-navigation-bar  .body,
.hasstatusbar .navbar ~ .body {
    padding-top:80px;
}

.uses-cjs-tab-footer .body,
.tabbar ~ .body {
    padding-bottom:80px;
}

.body.hidden {
    display: none;
}
.body.left {
    left:0;
    right: 67%;
}
.tabbar.left:not(.hidden) ~ .body.left {
    left:80px;
}
.body.middle {
    left: 0;
    right: 67%;
}
.tabbar.left:not(.hidden) ~ .body.middle {
    left:80px;
    right: 67%;
}
.body.left:not(.hidden) ~ .body.middle {
    left:33%;
    right: 33%;
}
.tabbar.left:not(.hidden) ~ .body.left:not(.hidden) ~ .body.middle {
    left:33%;
    right: 33%;
}
.body.right {
    left: 0;
    right: 0;
}
.tabbar.left:not(.hidden) ~ .body.right {
    left:80px;
}
.body.left:not(.hidden) ~ .body.right {
    left:33%;
}
.body.middle:not(.hidden) ~ .body.right {
    left:33%;
}
.body.left:not(.hidden) ~ .body.middle:not(.hidden) ~ .body.right {
    left:67%;
}
.tabbar.left:not(.hidden) ~ .body.left:not(.hidden) ~ .body.right {
    left:33%;
}
.tabbar.left:not(.hidden) ~ .body.middle:not(.hidden) ~ .body.right {
    left:33%;
}
.tabbar.left:not(.hidden) ~ .body.left:not(.hidden) ~ .body.middle:not(.hidden) ~ .body.right {
    left:66%;
}
/* two equal columns */
 .body.half {
    left: 0;
    right: 50%;
}
.body.half:not(.hidden) ~ .body.half {
    left:50%;
    right: 0;
}
.tabbar.left:not(.hidden) ~ .body.half {
    left: 80px;
    right: 50%;
}
.tabbar.left:not(.hidden) ~ .body.half:not(.hidden) .body.half {
    left: 50%;
    right: 0;
}
/* Single column layout for small screens - columns become tabs and the page is responsible for switching between them */
 .viewport.singlecolumn .body {
    left: 0 !important;
    right: 0 !important;
}
.viewport.singlecolumn .tabbar.left:not(.hidden) ~ .body {
    left: 80px !important;
}
/* if a bodygroup element is present, use it to combine the columns on a small screen */
 .bodygroup {
    overflow:hidden;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 40px 0 80px 0;
    z-index: 1;
}
.singlecolumn .bodygroup {
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 40px 0 80px 0;
    z-index: 1;
}
.singlecolumn.hasstatusbar .bodygroup {
    padding-top:60px;
}
.singlecolumn .bodygroup .body {
    position: static;
    padding: 0;
}
/* Grid layout */
 .col2 {
    width: 49%;
    display: inline-block;
}
/* Content Styles */
 .body {
}
.body p {
    margin: 10px 15px;
}
.body h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-transform: uppercase;
    color: #6d6d72;
    margin: 10px 15px 9px;
    font-weight: normal;
}

input.inline {
    background-color: inherit;
outline: none;
border: none;
font: inherit;
color: inherit;
text-transform: inherit;
}

.contentblock {
    background: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #c8c7cc;
    border-top: 1px solid #c8c7cc;
    color: #000;
}
/* Collapsing sections */
 .collapsible {
    position: relative;
}
.collapsible.collapsed {
}
.collapsible.collapsed > :not(h2) {
    display: none;
}
.collapsible::after {
    position: absolute;
    right:0;
    top:0;
    line-height: 20px;
    content:"-";
    font-size: 14pt;
    padding: 0 10px;
}
.collapsible.collapsed::after {
    content:"+";
}
/* Small form */
 .smallform {
    width:400px;
    margin:50px auto 0 auto;
}
.smallform h1 {
    font-weight: 100;
    text-align: center;
}


/* angular ui-toggle - mostly used in conjunction with loading overlay */
.ui-show {
  -webkit-transition: opacity 0.3s ease; 
}
.ui-hide {
  opacity: 0;
}

/* Shared Header */ 

.sharedheader {
position: fixed;
z-index: 999;
top: -50px;
opacity: 1;
}

.sharedheader.active {
top: 0px;
}
.sharedheader > div {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
/* */
.cjs-loading-overlay-container {
    position: relative;
}
/* Loading overlay */
 .cjs-loading-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events:none;
    z-index: 1000;
    text-align: center;
    font-size: large;
}

.cjs-loading-overlay-compact {
    text-align: left;
}

.cjs-loading-overlay .error {
    color:red;
}

.cjs-loading-overlay-full .error {
    margin-top: 270px;
}

.cjs-loading-overlay-compact .error {
display: inline;
text-align: left;
}


.cjs-loading-overlay .message {

}

.cjs-loading-overlay-full .message {
    
}

.cjs-loading-overlay-compact .message {
display: inline;
text-align: left;
}

.cjs-loading-overlay-compact .buttons {
display: inline;
}

.cjs-loading-overlay button {
    margin-top: 30px;
    display: inline-block;
}

.cjs-loading-overlay-compact button {
    margin: 5px;
}

/* css spinner from http://lea.verou.me/2013/11/cleanest-css-spinner-ever/ */

/**
 * (C)Leanest CSS spinner ever
 */
 @-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}
.cjs-loading-overlay .progress {
    position: relative;
    display: block;
    width: 5em;
    height: 5em;
    font-size: 12px;
    text-indent: 999em;
    overflow: hidden;
    -webkit-animation: spin 1s infinite steps(8);
}

.cjs-loading-overlay-full .progress {
    margin: 100px auto 50px auto;
}

.cjs-loading-overlay-compact .progress {
    display:inline-block;
    vertical-align: middle;
    margin: 5px;
}

.cjs-loading-overlay .small.progress {
    font-size: 6px;
}
.cjs-loading-overlay .large.progress {
    font-size: 24px;
}
.cjs-loading-overlay .progress:before, 
.cjs-loading-overlay .progress:after, 
.cjs-loading-overlay .progress > div:before, 
.cjs-loading-overlay .progress > div:after {
    content:'';
    position: absolute;
    top: 0;
    left: 2.25em;
    /* (container width - part width)/2  */
    width: .5em;
    height: 1.5em;
    border-radius: .2em;
    background: #eee;
    box-shadow: 0 3.5em #eee;
    /* container height - part height */
    -webkit-transform-origin: 50% 2.5em;
    /* container height / 2 */
}
.cjs-loading-overlay .progress:before {
    background: #555;
}
.cjs-loading-overlay .progress:after {
    -webkit-transform: rotate(-45deg);
    background: #777;
}
.cjs-loading-overlay .progress > div:before {
    -webkit-transform: rotate(-90deg);
    background: #999;
}
.cjs-loading-overlay .progress > div:after {
    -webkit-transform: rotate(-135deg);
    background: #bbb;
}

/* Icons */

/*
 * A button has class icon-top, icon-left, or icon-right to add an icon.
 * An additional class, eg icon-default determines the actual icon used.
 * Since ::before and ::after pseudo elements are used, an icon may need to be defined twice
 */

/* Left icon */
 .icon-left::before {
    content:"?";
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    margin-right: 5px;
    line-height: 44px;
    height: 100%;
}
/* Right icon */
 .icon-right::after {
    content:"?";
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    margin-left: 5px;
    line-height: 44px;
    height: 100%;
}
/* Top icon */
 .icon-top::before {
    content:"?";
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    line-height: 40px;
}

.icon-custom::before {
    display: none !important;
}

 .icon-top.icon-custom .maskedicon {
        background-color: currentColor;
        -webkit-mask-position: center;
    -webkit-mask-size: 32px;
    -webkit-mask-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
}

/* Standard icons */


.icon-top.icon-default::before, .icon-left.icon-default::before, .icon-right.icon-default::after {
    content:"\2610";
    font-size: 200%
}
.icon-top.icon-leftarrow::before, .icon-left.icon-leftarrow::before, .icon-right.icon-leftarrow::after {
    content:"";
    width: 18px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 90 120' xmlns='http://www.w3.org/2000/svg'><path d='m63.75 11.25 10 10-40 40 40 40-10 10-50-50z' fill='%23007aff'/></svg>");
}
.icon-top.icon-rightarrow::before, .icon-left.icon-rightarrow::before, .icon-right.icon-rightarrow::after {
    content:"";
    width: 18px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 90 120' xmlns='http://www.w3.org/2000/svg'><path d='m63.75 11.25 10 10-40 40 40 40-10 10-50-50z' fill='%23007aff'/></svg>");
}


/* Modals */
 .modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    pointer-events:none;
    visibility: hidden;
    z-index: 1000;
    -webkit-transition: opacity 0.3s ease-in-out;
}

.modal-overlay.active {
    visibility: visible;
    pointer-events: all;
    opacity: 0.4;
}

.nofade.active ~ .modal-overlay {
    background-color: transparent;
}


/* popover */
 .popover {
    position: absolute;
    width: 280px;
    height: auto;
    background-color: white;
    border-radius: 7px;
    z-index: 1100;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.1s ease-in-out;
}
.popover.active {
    position: absolute;
    opacity: 1;
    pointer-events: all;
}
.popover button {
    display: block;
    width: 280px;
    border: none;
    border-bottom: 1px solid #c8c7cc;
    margin:0;
    padding: 10px;
    height: auto;
}
.popover button:last-child {
    border: none;
}

.poparrow {
width: 26px;
height: 12px;
position: absolute;
left: 0px;
top: 0;
z-index: 100;
overflow: hidden;
}

.up .poparrow {
bottom: -12px;
top:auto;
}

.down .poparrow {
top:-12px;
bottom: auto;
}

.left .poparrow {
right: -12px;
left:auto;
width: 12px;
height: 26px;
}

.right .poparrow {
left:-12px;
right: auto;
width: 12px;
height: 26px;
}


.poparrow:after {
content: ' ';
background: #fff;
width: 26px;
height: 26px;
position: absolute;
left: 0;
top: 0;
border-radius: 3px;
-webkit-transform: rotate(45deg);
}

.popover.up .poparrow:after {
top:-19px;
}

.popover.down .poparrow:after {
top:5px;
}

.popover.left .poparrow:after {
left:-19px;
}

.popover.right .poparrow:after {
left:5px;
}



/* popup */
 .popup {
    position: absolute;
    background-color: #efeff4;
    width: 630px;
    height: 630px;
    left: 50%;
    top: 50%;
    margin-left: -315px;
    margin-top: -315px;
    z-index: 1100;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translate(0, 150%);
}
.popup.active {
    display: block;
    position: absolute;
    -webkit-transform: translate(0, 0);
}

@media (max-width: 630px) {
 .popup {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
    -webkit-transform: translate(0, 101%);
}

}


/* sidepanel */

 .sidepanel {
    position: absolute;
    display: none;
    top:0;
    bottom: 0;
    width: 260px;
    z-index: 1100;
}


/*

.sidepanel.active {
    display: block;
    -webkit-transform: translate(0, 0);
}
*/

.sidepanel .navbar {
    background: #000;
    border-bottom: 1px solid #333;
    color: white;
}


.sidepanel .navbar h1{
background-color: transparent;
position: absolute;
top: 0;
left: 0;
right: 0;
margin: 0;
text-align: center;
font-size: 17px;
line-height: 44px;
font-weight: 500;
z-index: -1;
text-overflow: ellipsis;
}

.sidepanel .body {
    background-color: #222;
    color: white;   
}

.sidepanel .body h2 {
color: white;
}

.sidepanel .body button {
}

.sidepanel .body button.menuitem {
color: rgb(111, 111, 116);
display: block;
width: 260px;
border: none;
text-align: left;
border-radius: 0;
margin: 0;
padding: 5px 15px;
height: auto;
border-bottom: 1px solid #aaa;
border-top: 1px solid #aaa;
}

.sidepanel .body button.menuitem+button.menuitem {
    border-top: none;
}

.sidepanel .body button.menuitem.selected {
    color: #007aff;
    background-color: transparent;
}

.sidepanel .body button.menutile {
width: 100%;
margin: 5px 0;
box-sizing: border-box;
border: none;
float: left;
height: 50px;
font-size: 8pt;
color: rgb(111, 111, 116);
}

.sidepanel .body button.half {
    width: 50%;
}
.sidepanel .body button.third {
    width: 33.3%;
}
.sidepanel .body button.quarter {
    width: 25%;
}



.sidepanel .body button.menutile.selected {
    background-color: transparent;
    color: #007aff;
}

/*
.chondric-page.haspushpanel .body,
.chondric-page.haspushpanel .navbar,
.chondric-page.haspushpanel .tabbar
{
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.chondric-page.pushedleft .body,
.chondric-page.pushedleft .navbar,
.chondric-page.pushedleft .tabbar
{
    -webkit-transform: translate(-261px, 0);
}

.chondric-page.pushedright .body,
.chondric-page.pushedright .navbar,
.chondric-page.pushedright .tabbar
{
    -webkit-transform: translate(261px, 0);
}

.chondric-page.haspushpanel .sidepanel .body,
.chondric-page.haspushpanel .sidepanel .navbar,
.chondric-page.haspushpanel .sidepanel .tabbar
{
    -webkit-transform: translate(0, 0);
}
*/

.chondric-page.next.crossfade {
    pointer-events:none;
    display: block;
    opacity: 0;
    z-index: 11;
}
.chondric-page.active.crossfade {
        -webkit-transition: opacity 0.3s ease-in-out;
}
.chondric-page.prev.crossfade {
    pointer-events:none;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    z-index: 9;
}

.chondric-page.next.slideleft {
    display: block;
}

.chondric-page.prev.slideleft {
    display: block;
}


.chondric-page.slideleft .body {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.chondric-page.next.slideleft .body {
    display: block;
    -webkit-transform: translate(100%, 0);
}

.chondric-page.prev.slideleft .body {
    display: block;
    -webkit-transform: translate(-100%, 0);
}


.chondric-page.next.slideright {
    display: block;
}

.chondric-page.prev.slideright {
    display: block;
}


.chondric-page.slideright .body {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}


.chondric-page.next.slideright .body {
    display: block;
    -webkit-transform: translate(-100%, 0);
}

.chondric-page.prev.slideright .body {
    display: block;
    -webkit-transform: translate(100%, 0);
}

.chondric-page.slideright .navbar {
display: none;
}

.chondric-page.active.slideright .navbar {
    display: block;
opacity: 1;
-webkit-transition: opacity 1s ease-in-out;
}
 .chondric-page.next.slideright .navbar {
display: block;
opacity: 0;
z-index: 1;
}

.chondric-page.prev.slideright .navbar {
   pointer-events:none;
display: block;
opacity: 0;
-webkit-transition: opacity 1s ease-in-out;
z-index: 11;
}
