/* */
.cjs-loading-overlay-container {
    position: relative;
}
/* Loading overlay */
 .cjs-loading-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events:none;
    z-index: 1000;
    text-align: center;
    font-size: large;
}


.cjs-loading-overlay.ui-show {
    -webkit-transition: z-index 0.5s ease, opacity:0.3s ease;
    z-index: 1000;
}

.cjs-loading-overlay.ui-hide {
    -webkit-transition: z-index 0.5s ease, opacity:0.3s ease;
    z-index: -1;
}

.cjs-loading-overlay-compact {
    text-align: left;
}

.cjs-loading-overlay .error {
    color:red;
}

.cjs-loading-overlay-full .error {
    margin-top: 270px;
}

.cjs-loading-overlay-compact .error {
display: inline;
text-align: left;
}


.cjs-loading-overlay .message {

}

.cjs-loading-overlay-full .message {
    
}

.cjs-loading-overlay-compact .message {
display: inline;
text-align: left;
}

.cjs-loading-overlay-compact .buttons {
display: inline;
}

.cjs-loading-overlay button {
    margin-top: 30px;
    display: inline-block;
}

.cjs-loading-overlay-compact button {
    margin: 5px;
}

/* css spinner from http://lea.verou.me/2013/11/cleanest-css-spinner-ever/ */

/**
 * (C)Leanest CSS spinner ever
 */
 @-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}
.cjs-loading-overlay .progress {
    position: relative;
    display: block;
    width: 5em;
    height: 5em;
    font-size: 12px;
    text-indent: 999em;
    overflow: hidden;
    -webkit-animation: spin 1s infinite steps(8);
}

.cjs-loading-overlay-full .progress {
    margin: 100px auto 50px auto;
}

.cjs-loading-overlay-compact .progress {
    display:inline-block;
    vertical-align: middle;
    margin: 5px;
}

.cjs-loading-overlay .small.progress {
    font-size: 6px;
}
.cjs-loading-overlay .large.progress {
    font-size: 24px;
}
.cjs-loading-overlay .progress:before, 
.cjs-loading-overlay .progress:after, 
.cjs-loading-overlay .progress > div:before, 
.cjs-loading-overlay .progress > div:after {
    content:'';
    position: absolute;
    top: 0;
    left: 2.25em;
    /* (container width - part width)/2  */
    width: .5em;
    height: 1.5em;
    border-radius: .2em;
    background: #eee;
    box-shadow: 0 3.5em #eee;
    /* container height - part height */
    -webkit-transform-origin: 50% 2.5em;
    /* container height / 2 */
}
.cjs-loading-overlay .progress:before {
    background: #555;
}
.cjs-loading-overlay .progress:after {
    -webkit-transform: rotate(-45deg);
    background: #777;
}
.cjs-loading-overlay .progress > div:before {
    -webkit-transform: rotate(-90deg);
    background: #999;
}
.cjs-loading-overlay .progress > div:after {
    -webkit-transform: rotate(-135deg);
    background: #bbb;
}
