/* Modals */
 .modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    pointer-events:none;
    visibility: hidden;
    z-index: 1000;
    -webkit-transition: opacity 0.3s ease-in-out;
}

.modal-overlay.active {
    visibility: visible;
    pointer-events: all;
    opacity: 0.4;
}

.nofade.active ~ .modal-overlay {
    background-color: transparent;
}


/* popover */
 .popover {
    position: absolute;
    width: 280px;
    height: auto;
    background-color: white;
    border-radius: 7px;
    z-index: 1100;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.1s ease-in-out;
}
.popover.active {
    position: absolute;
    opacity: 1;
    pointer-events: all;
}
.popover button {
    display: block;
    width: 280px;
    border: none;
    border-bottom: 1px solid #c8c7cc;
    margin:0;
    padding: 10px;
    height: auto;
}
.popover button:last-child {
    border: none;
}

.poparrow {
width: 26px;
height: 12px;
position: absolute;
left: 0px;
top: 0;
z-index: 100;
overflow: hidden;
}

.up .poparrow {
bottom: -12px;
top:auto;
}

.down .poparrow {
top:-12px;
bottom: auto;
}

.poparrow:after {
content: ' ';
background: #fff;
width: 26px;
height: 26px;
position: absolute;
left: 0;
top: 0;
border-radius: 3px;
-webkit-transform: rotate(45deg);
}

.up .poparrow:after {
top:-19px;
}

.down .poparrow:after {
top:5px;
}


/* popup */
 .popup {
    position: absolute;
    background-color: #efeff4;
    width: 630px;
    height: 630px;
    left: 50%;
    top: 50%;
    margin-left: -315px;
    margin-top: -315px;
    z-index: 1100;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translate(0, 150%);
}
.popup.active {
    display: block;
    position: absolute;
    -webkit-transform: translate(0, 0);
}

@media (max-width: 630px) {
 .popup {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
    -webkit-transform: translate(0, 101%);
}

}


/* sidepanel */

 .sidepanel {
    position: absolute;
    top:0;
    bottom: 0;
    width: 260px;
    z-index: 1100;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

 .sidepanel.right {
    right: 0;
    -webkit-transform: translate(261px, 0);
}

.sidepanel.left {
    left: 0
    -webkit-transform: translate(-261px, 0);
}


.sidepanel.active {
    display: block;
    -webkit-transform: translate(0, 0);
}


.sidepanel .navbar {
    background: #000;
    border-bottom: 1px solid #333;
    color: white;
}


.sidepanel .navbar h1{
background-color: transparent;
position: absolute;
top: 0;
left: 0;
right: 0;
margin: 0;
text-align: center;
font-size: 17px;
line-height: 44px;
font-weight: 500;
z-index: -1;
text-overflow: ellipsis;
}

.sidepanel .body {
    background-color: #222;
    color: white;   
}

.sidepanel .body h2 {
color: white;
}

.sidepanel .body button {
}

.sidepanel .body button.menuitem {
color: rgb(202, 202, 202);
display: block;
width: 260px;
border: none;
text-align: left;
border-radius: 0;
margin: 0;
padding: 5px 15px;
height: auto;
border-bottom: 1px solid #aaa;
border-top: 1px solid #aaa;
}

.sidepanel .body button.menuitem+button.menuitem {
    border-top: none;
}

.sidepanel .body button.menuitem.selected {
    color: white;
}

.chondric-page.haspushpanel .body,
.chondric-page.haspushpanel .navbar,
.chondric-page.haspushpanel .tabbar
{
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.chondric-page.pushedleft .body,
.chondric-page.pushedleft .navbar,
.chondric-page.pushedleft .tabbar
{
    -webkit-transform: translate(-261px, 0);
}

.chondric-page.pushedright .body,
.chondric-page.pushedright .navbar,
.chondric-page.pushedright .tabbar
{
    -webkit-transform: translate(261px, 0);
}

.chondric-page.haspushpanel .sidepanel .body,
.chondric-page.haspushpanel .sidepanel .navbar,
.chondric-page.haspushpanel .sidepanel .tabbar
{
    -webkit-transform: translate(0, 0);
}
