<div cjs-sidepanel="componentDefinition.popuptrigger" ng-class="{active: componentDefinition.active}">
<div ng-if="componentDefinition.data.templateUrl || componentDefinition.contentTemplateUrl" ng-include="componentDefinition.data.templateUrl || componentDefinition.contentTemplateUrl"></div>
<div ng-if="componentDefinition.data.jsonTemplate || componentDefinition.contentJsonTemplate" cjs-json-template="componentDefinition.data.jsonTemplate || componentDefinition.contentJsonTemplate" data="componentDefinition.data"></div>

</div>