<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />
        <title>
            __APPTITLE__
        </title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="apple-touch-icon" href="images/icon72.png" />

        <!--BEGIN FRAMEWORKSCRIPTS-->
        <!--END FRAMEWORKSCRIPTS-->


        <link rel="stylesheet" href="lib/chondric.css" />
        <link rel="stylesheet" href="app.css" />


        <script src="lib/chondric.js" type="text/javascript"></script>
        <script src="app.js" type="text/javascript">
        </script>
        <script src="db.js" type="text/javascript">
        </script>
        <!--BEGIN PAGESCRIPTS-->

        <!--END PAGESCRIPTS-->

    </head>

    <body ng-controller="appCtrl">
        <div chondric-viewport></div>
    </body>
</html>