body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.4em;
    background-color:#efeff4;
    margin: 0;
    -webkit-tap-highlight-color:transparent;
}


input, textarea, [contenteditable=true] {
-webkit-user-select:auto;
    -webkit-touch-callout: auto;
}


.clear {
    clear: both;
}

/* Debug Mode */
 .debugonly {
    display:none !important;
}
body.debugmode .debugonly {
    display:block !important;
}
body.debugmode::after {
    content:"Debug mode - do not release";
    display:block !important;
    position:fixed;
    bottom: 0;
    left:0;
    right: 0;
    text-align: center;
    pointer-events:none;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 100;
}

/* Content Styles */

p {
    margin: 10px 15px;
}

input.inline {
    background-color: inherit;
outline: none;
border: none;
font: inherit;
color: inherit;
text-transform: inherit;
}

/* Collapsing sections */
 .collapsible {
    position: relative;
}
.collapsible.collapsed {
}
.collapsible.collapsed > :not(h2) {
    display: none;
}
.collapsible::after {
    position: absolute;
    right:0;
    top:0;
    line-height: 20px;
    content:"-";
    font-size: 14pt;
    padding: 0 10px;
}
.collapsible.collapsed::after {
    content:"+";
}
/* Small form */
 .smallform {
    width:400px;
    margin:50px auto 0 auto;
}
.smallform h1 {
    font-weight: 100;
    text-align: center;
}


/* angular ui-toggle - mostly used in conjunction with loading overlay */
.ui-show {
  @include transition (opacity 0.3s ease); 
}
.ui-hide {
    // the opacity version is causing all sorts of issues. just use display:none and restore animation later
    // using ng-hide-enter etc
display: none;
  opacity: 0;
}

