$browserType: "modernWeb" !default;


@if ($browserType == "modernWeb") {
$useFlexbox: true !global;
$supportMobile: true !global;
}

@if ($browserType == "ie") {
$useFlexbox: false !global;
$supportMobile: false !global;
}

@if ($browserType == "native") {
$useFlexbox: true !global;
$supportMobile: true !global;
}

@import "../../node_modules/bourbon/dist/_bourbon.scss";

@import "mixins.scss";

@import "viewport.scss";


@import "core.scss";
@import "icons.scss";
@import "loading-overlay.scss";
@import "modals.scss";
