body {
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
color: #000;
font-size: 14px;
line-height: 1.4;
}


.chondric-viewport {
    background-color: #888;
    position: absolute;
top:0;
left:0;
bottom:0;
right: 0;
overflow:hidden;
z-index: 1;
}
.chondric-section {
}

.chondric-page {
    background-color: white;
position: absolute;
width: 100%;
height: 100%;
top:0;
left: 0;
overflow: auto;
display: none;
}

.chondric-page.active {
display: block;
opacity: 1;
z-index: 10;
}

.chondric-page.prev {
    pointer-events:none;
}
.chondric-page.next {
    pointer-events:none;
}

.chondric-page.notransition {
-webkit-transition: none !important;
}

.chondric-page.notransition .page {
-webkit-transition: none !important;
}

.chondric-page.notransition .navbar {
-webkit-transition: none !important;
}


.chondric-page.next.crossfade {
    pointer-events:none;
display: block;
opacity: 1;
z-index: 1;
}

.chondric-page.prev.crossfade {
    pointer-events:none;
display: block;
opacity: 0;
-webkit-transition: opacity 1s ease-in-out;
z-index: 11;
}


.chondric-page.next.slideleft {
    display: block;
}

.chondric-page.prev.slideleft {
    display: block;
}

.chondric-page.next.slideright {
    display: block;
}

.chondric-page.prev.slideright {
    display: block;
}


.chondric-page.slideleft .page, .chondric-page.slideright .page {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.chondric-page.next.slideleft .page {
    display: block;
    -webkit-transform: translate(-100%, 0);
}

.chondric-page.prev.slideleft .page {
    display: block;
    -webkit-transform: translate(100%, 0);
}

.chondric-page.next.slideright .page {
    display: block;
    -webkit-transform: translate(100%, 0);
}

.chondric-page.prev.slideright .page {
    display: block;
    -webkit-transform: translate(-100%, 0);
}

.chondric-page.slideright .navbar {
display: none;
}

.chondric-page.active.slideright .navbar {
    display: block;
opacity: 1;
-webkit-transition: opacity 1s ease-in-out;
}
 .chondric-page.next.slideright .navbar {
display: block;
opacity: 0;
z-index: 1;
}

.chondric-page.prev.slideright .navbar {
   pointer-events:none;
display: block;
opacity: 0;
-webkit-transition: opacity 1s ease-in-out;
z-index: 11;
}


/* Old styles */



.page.behindfull {
    display:block;
visibility: hidden;
-webkit-transform: scale(1,1);
opacity:0;
z-index: 1;
-webkit-transition: -webkit-transform 0.2s linear, opacity 0.9s ease-in-out, z-index 0.9s linear, visibility 0.9s linear;
}


.page.behinddlg {
display: block;
-webkit-transform: scale(1,1);
opacity:1;
z-index: 1;
-webkit-transition: -webkit-transform 0.2s linear, opacity 0.9s ease-in-out, z-index 0.9s 0.9s linear;
}

.page.behindsmall {
      display:block;
visibility: hidden;
-webkit-transform: scale(0.1,0.1);
opacity:0;
z-index: 1;
-webkit-transition: -webkit-transform 0.2s linear, opacity 0.9s ease-in-out, z-index 0.9s linear, visibility 0.9s linear;
}













* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
 /* Disable selection/Copy of UIWebView */
}

input, textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
 /* Enable selection/Copy of UIWebView */
}

.clear {
    clear: both;
}

*[data-role="viewTemplate"] {
    display: none;
}

*[data-role="viewEmpty"] {
    display: none;
}

ul.emptylist>li[data-role="viewEmpty"] {
    display: block;
}

.ui-dialog {
    background: transparent;
}

.ui-dialog-contain {
 width: 60%;
max-width: none;
margin: 10% auto 15px auto;
padding: 0;
position: relative;
height: 60%;
max-height: none;

}

.sidebar {
    position: absolute;
    width: 400px;
    border: none;
    background-color: black;
    color: white;
    height: 12px;
    text-align: center;
    font: 10px Helvetica;
    font-weight: bold;
}

.sidebar.up {
    top: 0px;
    margin-left: 10px;
}

.sidebar.down {
    bottom: 0px;
    margin-left: 10px;
}

.sidebar.left {
    left: 12px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
}

.sidebar.right {
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 100% 0;
}

.sidebar .arrow {
    display: block;
    position: absolute;
}

.sidebar.up .arrow {
    -webkit-transform: rotate(270deg);
    left: 5px;
}

.sidebar.down .arrow {
    -webkit-transform: rotate(90deg);
    left: 5px;
}

.sidebar.left .arrow {
    -webkit-transform: rotate(90deg);
    left: 5px;
}

.sidebar.right .arrow {
    -webkit-transform: rotate(90deg);
    right: 5px;
}

.sidebar .pageName {
}
   /*
.hasupsidebar>.ui-header, .hasupsidebar>.ui-content {
    margin-top:15px;
}
.hasdownsidebar>.ui-header, .hasdownsidebar>.ui-content {
    margin-bottom:15px;
}
.hasleftsidebar>.ui-header, .hasleftsidebar>.ui-content {
    margin-left:15px;
}
.hasrightsidebar>.ui-header, .hasrightsidebar>.ui-content {
    margin-right:15px;
}

*/

.scrollcontainer {
    overflow: auto;
}





/* Debug Mode */

.debugonly {
    display:none !important;
}


body.debugmode .debugonly {
    display:block !important;
}

body.debugmode::after {
    content: "Debug mode - do not release";
    display:block !important;
    position:absolute;
    bottom: 0;
    left:0;
    right: 0;
    text-align: center;
    pointer-events:none;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 100;
}

/* loading overlay */

.loadingOverlay {
display:none;
position:absolute;
left: 0;
right:0;
top:0;
bottom:0;
background-color: transparent;
text-align: center;
padding-top: 300px;
}

.page.loading .loadingOverlay {
display: block;
}

.loadingOverlay::before {
content: "Loading Page";
}

.loadingOverlay a {
display: block;
margin-top: 10px;
}



/* IOS 7 Default styles */
body {
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
color: #000;
font-size: 14px;
line-height: 1.4;
}


button:focus {
outline: none;
}

/* Header */


.navbar {
    position: absolute;
    top:0;
    left: 0;
    right:0;
    background-color: rgba(248,248,248,0.9);
    height: 44px;
    z-index: 10;
    background-color: #f7f7f8;
    border-bottom: 1px solid #c4c4c4;
    font-size: 17px;
}

.hasstatusbar .navbar {
    top:20px;
}


.navbar.nobg {
    background-color: transparent;
}

.navbar button {
color: #007aff;
background: transparent;
border: none;
padding: 0 10px;
line-height: 44px;
height: 44px;
}

.navbar button.active {
    opacity: 0.3;
}

.navbar button.left {
float:left;
}

.navbar button.right {
float:right;
}

.navbar h1 {
    position: absolute;
    top:0;
    left: 0;
    right:0;
    margin: 0;
    text-align: center;
    font-size: 17px;
    line-height: 44px;
    font-weight: 500;
    z-index: -1;
    text-overflow: ellipsis;
}

/* tabbar */

.tabbar {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
z-index: 10;
}

.tabbar button {
background: transparent;
border: none;
color: rgb(111,111,116);
font-family: "Helvetica Neue","Helvetica";
font-weight: 300;
font-size: 12pt;
}

.tabbar button.active, .tabbar button.selected {
color: rgb(21,125,251);
text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

/* vertical tab bar */

.tabbar.left {
    top: 40px;
    left:0;
    right:auto;
    bottom:0;
    width:80px;

}

.hasstatusbar .tabbar.left {
    top:60px;
}


.tabbar.left button {
margin: 10px auto;
}



/* Content sections */

.page {
    background-color:#efeff4;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
}

.body {
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 40px 0 80px 0;
    z-index: 1;
}

.hasstatusbar .body {
    padding-top:60px;
}

.body.hidden {
    display: none;
}

.body.left {
left:0;
    right: 67%;
}


.tabbar.left:not(.hidden) ~ .body.left {
    left:80px;
}


.body.middle {
    left: 0;
    right: 67%;
}

.tabbar.left:not(.hidden) ~ .body.middle {
    left:80px;
    right: 67%;
}

.body.left:not(.hidden) ~ .body.middle {
    left:33%;
    right: 33%;
}

.tabbar.left:not(.hidden) ~ .body.left:not(.hidden) ~ .body.middle {
    left:33%;
    right: 33%;
}

.body.right {
left: 0;
right: 0;
}

.tabbar.left:not(.hidden) ~ .body.right {
   left:80px;
}
.body.left:not(.hidden) ~ .body.right {
    left:33%;
}

.body.middle:not(.hidden) ~ .body.right {
    left:33%;
}

.body.left:not(.hidden) ~ .body.middle:not(.hidden) ~ .body.right {
    left:67%;
}

.tabbar.left:not(.hidden) ~ .body.left:not(.hidden) ~ .body.right {
    left:33%;
}

.tabbar.left:not(.hidden) ~ .body.middle:not(.hidden) ~ .body.right {
    left:33%;
}

.tabbar.left:not(.hidden) ~ .body.left:not(.hidden) ~ .body.middle:not(.hidden) ~ .body.right {
    left:66%;
}


/* two equal columns */

.body.half {
left: 0;
right: 50%;
}

.body.half:not(.hidden) ~ .body.half {
left:50%;
right: 0;
}


.tabbar.left:not(.hidden) ~ .body.half {
left: 80px;
right: 50%;
}

.tabbar.left:not(.hidden) ~ .body.half:not(.hidden) .body.half {
    left: 50%;
    right: 0;
}

/* Single column layout for small screens - columns become tabs and the page is responsible for switching between them */

.viewport.singlecolumn .body {
    left: 0 !important;
    right: 0 !important;
}

.viewport.singlecolumn .tabbar.left:not(.hidden) ~ .body {
    left: 80px !important;
}

/* if a bodygroup element is present, use it to combine the columns on a small screen */

.bodygroup {

    overflow:hidden;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 40px 0 80px 0;
    z-index: 1;


}

.singlecolumn .bodygroup {
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 40px 0 80px 0;
    z-index: 1;
}
.singlecolumn.hasstatusbar .bodygroup {
    padding-top:60px;
}
.singlecolumn .bodygroup .body {
    position: static;
    padding: 0;
}


/* Content Styles */

.body {
font-size: 12pt;
font-weight: 100;
}

.body p {
    margin: 10px;
}

.body h2 {
margin: 10px;
font-size: 14pt;
font-weight: 100;
}

/* Collapsing sections */
.collapsible {
position: relative;
}

.collapsible.collapsed {

}

.collapsible.collapsed > :not(h2){
display: none;
}

.collapsible::after {
position: absolute;
right:0;
top:0;
line-height: 20px;
content: "-";
font-size: 14pt;
padding: 0 10px;
}

.collapsible.collapsed::after {
content:"+";
}

/* Small form */

.smallform {
width:400px;
margin:50px auto 0 auto;
}

.smallform h1 {
    font-weight: 100;
    text-align: center;
}

/* Icons */

.icon {
    position: relative;
}

.icon::after {
    font-family: Helvetica;
    font-size: 20pt;
    position: absolute;
    padding: 0 9px;
    text-align: center;
    line-height: 40px;
}

.navbar .icon {
padding-left:30px;
}

.navbar .icon::after {
left:0;
top:0;
}


.navbar .right.icon-rightarrow {
padding-left: 0;
padding-right:30px;
}


.navbar .right.icon-rightarrow::after {
right: -30px;
top:0;
}


.tabbar .icon {
padding-top:40px;
}

.tabbar .icon::after {
top:0;
left: 0;
right: 0;
text-align: center;
}


.icon::after {
    content: "X";
}

.icon-leftarrow::after {
    font-weight: bold;
    content: "<";
}

.icon-rightarrow::after {
    font-weight: bold;
    content: ">";
}

.icon-left.icon {
padding-left:30px;
}

.icon-left.icon::after {
left:0;
top:0;
}

.icon-right.icon {
padding-right:30px;
}

.icon-right.icon::after {
right:-30px;
top:0;
}

.icon-top.icon {
padding-top:40px;
}

.icon-top.icon::after {
top:0;
left: 0;
right: 0;
text-align: center;
}

