body {
    font-family: helvetica;
}

.viewport {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:auto;
    height: auto;
    border: none;
    overflow: hidden;
}

.page {
display: none;
background-color: white;
position: absolute;
top:0;
bottom:0;
left:0;
right:0;
-webkit-transition: -webkit-transform 0.2s linear, opacity 0.2s ease-in-out, z-index 0s linear;
pointer-events:none;
opacity:1;
}

.page.active {
display: block;
-webkit-transform: translateX(0) scale(1,1);
opacity:1;
pointer-events:all;
z-index: 10;

}

.page.notransition {
    -webkit-transition: none !important;
}

.page.prev {
display: block;
-webkit-transform: translateX(-103%);
z-index: 10;
}

.page.next {
display: block;
-webkit-transform: translateX(103%);
z-index: 10;
}


.page.behindfull {
    display:block;
visibility: hidden;
-webkit-transform: scale(1,1);
opacity:0;
z-index: 1;
-webkit-transition: -webkit-transform 0.2s linear, opacity 0.9s ease-in-out, z-index 0.9s linear, visibility 0.9s linear;
}


.page.behinddlg {
display: block;
-webkit-transform: scale(1,1);
opacity:1;
z-index: 1;
-webkit-transition: -webkit-transform 0.2s linear, opacity 0.9s ease-in-out, z-index 0.9s 0.9s linear;
}

.page.behindsmall {
      display:block;
visibility: hidden;
-webkit-transform: scale(0.1,0.1);
opacity:0;
z-index: 1;
-webkit-transition: -webkit-transform 0.2s linear, opacity 0.9s ease-in-out, z-index 0.9s linear, visibility 0.9s linear;
}













* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
 /* Disable selection/Copy of UIWebView */
}

input, textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
 /* Enable selection/Copy of UIWebView */
}

.clear {
    clear: both;
}

*[data-role="viewTemplate"] {
    display: none;
}

*[data-role="viewEmpty"] {
    display: none;
}

ul.emptylist>li[data-role="viewEmpty"] {
    display: block;
}

.ui-dialog {
    background: transparent;
}

.ui-dialog-contain {
 width: 60%;
max-width: none;
margin: 10% auto 15px auto;
padding: 0;
position: relative;
height: 60%;
max-height: none;

}

.sidebar {
    position: absolute;
    width: 400px;
    border: none;
    background-color: black;
    color: white;
    height: 12px;
    text-align: center;
    font: 10px Helvetica;
    font-weight: bold;
}

.sidebar.up {
    top: 0px;
    margin-left: 10px;
}

.sidebar.down {
    bottom: 0px;
    margin-left: 10px;
}

.sidebar.left {
    left: 12px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
}

.sidebar.right {
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 100% 0;
}

.sidebar .arrow {
    display: block;
    position: absolute;
}

.sidebar.up .arrow {
    -webkit-transform: rotate(270deg);
    left: 5px;
}

.sidebar.down .arrow {
    -webkit-transform: rotate(90deg);
    left: 5px;
}

.sidebar.left .arrow {
    -webkit-transform: rotate(90deg);
    left: 5px;
}

.sidebar.right .arrow {
    -webkit-transform: rotate(90deg);
    right: 5px;
}

.sidebar .pageName {
}
   /* 
.hasupsidebar>.ui-header, .hasupsidebar>.ui-content {
    margin-top:15px;
}
.hasdownsidebar>.ui-header, .hasdownsidebar>.ui-content {
    margin-bottom:15px;
}
.hasleftsidebar>.ui-header, .hasleftsidebar>.ui-content {
    margin-left:15px;
}
.hasrightsidebar>.ui-header, .hasrightsidebar>.ui-content {
    margin-right:15px;
}

*/

.scrollcontainer {
    overflow: auto;
}


/* Debug Mode */

.debugonly {
    display:none !important;
}


body.debugmode .debugonly {
    display:block !important;
}

body.debugmode::after {
    content: "Debug mode - do not release";
    display:block !important;
    position:absolute;
    bottom: 0;
    left:0;
    right: 0;
    text-align: center;
    pointer-events:none;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 100;
}

/* loading overlay */

.loadingOverlay {
display:none;
position:absolute;
left: 0;
right:0;
top:0;
bottom:0;
background-color: transparent;
text-align: center;
padding-top: 300px;
}

.page.loading .loadingOverlay {
display: block;
}

.loadingOverlay::before {
content: "Loading Page";
}

.loadingOverlay a {
display: block;
margin-top: 10px;
}


